img {
	border: none;
	outline: none
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
}

div {
	/*outline: 1px solid #f00;*/
}

p {
	font-size: 1.5em;
	line-height: 30px;
	text-align: center;
}

.container {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.container-inside {
	border: 1px solid #000;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	width: 300px;
}

.quiz-top {
	background-color: #ccc;
	height: 250px;
	width: 300px;
}

.quiz-bottom {
	background-color: #fff;
	height: 80px;
	line-height: 25px;
	margin-top: 20px;
	/*padding: 10px 10px 0 10px;*/
	width: 100%;
}

.quiz-bottom-lower {
	margin-top: 100px;
}

.quiz-box {
	display: block;
	float: left;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 2;
	/*top: 11px;
	height: 250px;
	width: 300px;
	position: absolute;
	z-index: 20;*/
}

.answers ul {
	text-align: center;
}

.answers li {
	list-style: none;
  	list-style-type: none;
	text-align: center;
	text-decoration: none;
}

.answers li:hover {
	cursor: pointer;
	color: #24A8D4;
}

.marvin {
	background: url('../img/marvin.jpg') no-repeat;
	background-size: cover;
	height: 250px;
	opacity: .5;
	position: absolute;
	top: 11px;
    width: 300px;
}

.snoopy {
	background: url('../img/snoopy.jpg') no-repeat;
	background-size: cover;
	height: 250px;
	opacity: 1;
	position: absolute;
	top: 11px;
    width: 300px;
}

.yatch {
	background: url('../img/yatch.jpg') no-repeat;
	background-size: cover;
	height: 250px;
	opacity: 0;
	position: absolute;
	top: 11px;
    width: 300px;  
}

.correct-image {
	background: url('../img/technically_correct_futurama.gif') no-repeat;
	background-size: cover;
	height: 272px;
	left: -10px;
    opacity: 0;
    position: relative;
    top: -10px;
    width: 321px;
    z-index: 20;
}

.incorrect-image {
	background: url('../img/wrong.gif') no-repeat;
	background-size: cover;
	height: 272px;
	left: -10px;
    opacity: 0;
    position: relative;
    top: -10px;
    width: 321px;
    z-index: 20;
}

.next {
	background-color: #fff;
	border: 2px solid #24A8D4;
	border-radius: 2px;
	color: #24A8D4;
	cursor: pointer;
	height: 23px;
	margin: 0 0 0 210px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 19px;
	width: 77px;
	z-index: 22;
}

.next:hover {
	color: #999;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.one {
	/*opacity: 0;*/
}

.two {
	opacity: 0;
}

.three {
	opacity: 0;
}
.margin-Big {
	margin: -493px 0 0 0;
}
.margin-Big-final {
	margin: -233px 0 0 0 !important;
}
.margin-Bottom-Big {
	margin-bottom: 150px;
}

